name: CI
on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]
  schedule:
    - cron: '0 06 * * MON'
  workflow_dispatch:
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: DeterminateSystems/flake-checker-action@v12
      - name: Check flake
        run: nix flake check --impure
